In [1]:
import pandas as pd
from pathlib import Path

In [2]:
pwd # print working directory

'E:\\log_report\\notebooks'

In [3]:
LOG_DIR   = r'../logs'
LOG_REGEX = ''

### Read Logs into DataFrames

In [4]:
# read all log files and save log file name
log_files = {
    log_file.stem: pd.read_csv(log_file, header=None, names=['log_entry'])
        for log_file in Path(LOG_DIR).glob('*.log')
}

#### How many logs entries per file?

In [5]:
for log_filename, df_logs in log_files.items():
     print(f'{log_filename:<21} has {df_logs.shape[0]:>5} entries')

20190716_AutoMeme     has 10724 entries
20190716_AutoMeme1    has 10721 entries
20190716_AutoMeme10   has     0 entries
20190716_AutoMeme2    has 10734 entries
20190716_AutoMeme3    has 10730 entries
20190716_AutoMeme4    has 10747 entries
20190716_AutoMeme5    has 10725 entries
20190716_AutoMeme6    has 10733 entries
20190716_AutoMeme7    has 10701 entries
20190716_AutoMeme8    has 10744 entries
20190716_AutoMeme9    has 10714 entries
20190716_MemeLourde   has 10704 entries
20190716_MemeLourde1  has 10719 entries
20190716_MemeLourde10 has     0 entries
20190716_MemeLourde2  has 10744 entries
20190716_MemeLourde3  has 10776 entries
20190716_MemeLourde4  has 10732 entries
20190716_MemeLourde5  has 10732 entries
20190716_MemeLourde6  has 10710 entries
20190716_MemeLourde7  has 10730 entries
20190716_MemeLourde8  has 10718 entries
20190716_MemeLourde9  has 10705 entries

In [6]:
log_files['20190716_AutoMeme'].head()

                                           log_entry
0  72.130.101.147 - luettgen1153 [16/07/2019:23:0...
1  59.190.191.147 - - [16/07/2019:23:02:45 -0700]...
2  190.207.188.69 - - [16/07/2019:23:02:45 -0700]...
3  255.95.192.129 - - [16/07/2019:23:02:45 -0700]...
4  234.114.135.148 - - [16/07/2019:23:02:45 -0700...

#### Add log filename to each dataframe

In [7]:
for log_filename, df_logs in log_files.items():
    df_logs['log_filename'] = log_filename

In [8]:
log_files['20190716_AutoMeme'].head()

                                           log_entry       log_filename
0  72.130.101.147 - luettgen1153 [16/07/2019:23:0...  20190716_AutoMeme
1  59.190.191.147 - - [16/07/2019:23:02:45 -0700]...  20190716_AutoMeme
2  190.207.188.69 - - [16/07/2019:23:02:45 -0700]...  20190716_AutoMeme
3  255.95.192.129 - - [16/07/2019:23:02:45 -0700]...  20190716_AutoMeme
4  234.114.135.148 - - [16/07/2019:23:02:45 -0700...  20190716_AutoMeme

#### Concatenate all log dataframes into single dataframe

In [9]:
df = pd.concat(log_files.values()).reset_index(drop=True)

In [10]:
# show 1 log entry per log filename
df.groupby('log_filename').first()

                                                              log_entry
log_filename
20190716_AutoMeme     72.130.101.147 - luettgen1153 [16/07/2019:23:0...
20190716_AutoMeme1    22.50.254.131 - - [16/07/2019:23:02:45 -0700] ...
20190716_AutoMeme2    175.6.196.72 - padberg1065 [16/07/2019:23:02:4...
20190716_AutoMeme3    4.194.39.218 - - [16/07/2019:23:02:45 -0700] "...
20190716_AutoMeme4    235.210.118.64 - - [16/07/2019:23:02:45 -0700]...
20190716_AutoMeme5    33.224.111.136 - - [16/07/2019:23:02:45 -0700]...
20190716_AutoMeme6    13.62.56.43 - - [16/07/2019:23:02:45 -0700] "G...
20190716_AutoMeme7    213.113.147.122 - - [16/07/2019:23:02:45 -0700...
20190716_AutoMeme8    225.58.187.122 - koss5315 [16/07/2019:23:02:45...
20190716_AutoMeme9    118.183.21.53 - - [16/07/2019:23:02:45 -0700] ...
20190716_MemeLourde   169.29.198.12 - kunze1861 [16/07/2019:23:02:45...
20190716_MemeLourde1  218.229.63.117 - - [16/07/2019:23:02:45 -0700]...
20190716_MemeLourde2  88.2.113.252 - bahringer5824 [16/07/2019:23:02...
20190716_MemeLourde3  191.40.108.188 - - [16/07/2019:23:02:45 -0700]...
20190716_MemeLourde4  193.38.221.76 - jacobi1771 [16/07/2019:23:02:4...
20190716_MemeLourde5  158.178.73.7 - - [16/07/2019:23:02:45 -0700] "...
20190716_MemeLourde6  78.103.147.253 - - [16/07/2019:23:02:45 -0700]...
20190716_MemeLourde7  54.118.133.249 - - [16/07/2019:23:02:45 -0700]...
20190716_MemeLourde8  46.3.127.144 - greenfelder6048 [16/07/2019:23:...
20190716_MemeLourde9  139.245.248.106 - - [16/07/2019:23:02:45 -0700...

In [11]:
# check counts per logfile match up
df.groupby('log_filename').count()

                      log_entry
log_filename
20190716_AutoMeme         10724
20190716_AutoMeme1        10721
20190716_AutoMeme2        10734
20190716_AutoMeme3        10730
20190716_AutoMeme4        10747
20190716_AutoMeme5        10725
20190716_AutoMeme6        10733
20190716_AutoMeme7        10701
20190716_AutoMeme8        10744
20190716_AutoMeme9        10714
20190716_MemeLourde       10704
20190716_MemeLourde1      10719
20190716_MemeLourde2      10744
20190716_MemeLourde3      10776
20190716_MemeLourde4      10732
20190716_MemeLourde5      10732
20190716_MemeLourde6      10710
20190716_MemeLourde7      10730
20190716_MemeLourde8      10718
20190716_MemeLourde9      10705

### Parse `log_filename` to get `Service Name`

In [12]:
df = df.merge(
    df['log_filename']
        .str.extract('(?P<date>\d{8})_(?P<ServiceName>\D*)(?P<Counter>\d*)'),
    how='left',
    left_index=True,
    right_index=True
).reset_index(drop=True)

In [20]:
df['log_entry'].head(20)

0     72.130.101.147 - luettgen1153 [16/07/2019:23:0...
1     59.190.191.147 - - [16/07/2019:23:02:45 -0700]...
2     190.207.188.69 - - [16/07/2019:23:02:45 -0700]...
3     255.95.192.129 - - [16/07/2019:23:02:45 -0700]...
4     234.114.135.148 - - [16/07/2019:23:02:45 -0700...
5     104.232.182.54 - weimann5284 [16/07/2019:23:02...
6     161.20.179.33 - - [16/07/2019:23:02:45 -0700] ...
7     142.53.226.225 - - [16/07/2019:23:02:45 -0700]...
8     211.217.154.75 - deckow6660 [16/07/2019:23:02:...
9     247.134.238.217 - wehner7348 [16/07/2019:23:02...
10    118.142.134.19 - mann8652 [16/07/2019:23:02:45...
11    146.63.238.53 - - [16/07/2019:23:02:45 -0700] ...
12    4.255.239.24 - conn4524 [16/07/2019:23:02:45 -...
13    114.54.55.146 - - [16/07/2019:23:02:45 -0700] ...
14    146.135.107.23 - - [16/07/2019:23:02:45 -0700]...
15    224.243.233.209 - - [16/07/2019:23:02:45 -0700...
16    98.7.155.134 - goyette6613 [16/07/2019:23:02:4...
17    2.224.105.31 - schmidt3886 [16/07/2019:23:02:4...
18    230.110.106.131 - jerde7204 [16/07/2019:23:02:...
19    194.54.45.214 - towne8282 [16/07/2019:23:02:45...
Name: log_entry, dtype: object

In [22]:
df['log_entry'].head(20).str.extract('(?P<IP>[\d.]+)\s')

                 IP
0    72.130.101.147
1    59.190.191.147
2    190.207.188.69
3    255.95.192.129
4   234.114.135.148
5    104.232.182.54
6     161.20.179.33
7    142.53.226.225
8    211.217.154.75
9   247.134.238.217
10   118.142.134.19
11    146.63.238.53
12     4.255.239.24
13    114.54.55.146
14   146.135.107.23
15  224.243.233.209
16     98.7.155.134
17     2.224.105.31
18  230.110.106.131
19    194.54.45.214